<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>I am designer and my name is</h3>
                <h1>Nevoroshkina Tanya</h1>
                <h5>That's first version of portfolio site</h5>
                <h5>I hope you shall have fun from this website</h5>				
            </div>
           <!--  <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
            </div> -->
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->